<strong><%= @blog.title %></strong>
<br>
<br>
<form action="/editpost/<%= @blog.id %>" name="editpost" method="post">
				<textarea type="text" name="editpost" method="post" cols="50" rows="5"><%= @blog.post %></textarea>
				<input type="hidden" name="_method" value="patch">
				<input type="submit" value="Edit">
</form>
<br>
<br>
<%= @blog.text %>
<br>
<br>
<%= @blog.author %>
<br>
<%= @blog.date %>
<br>
<%= @blog.time %>
<br>
<form action="/delete/<%= @blog.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
</form>

<a href="/">Home</a>
<a href="/create">Create</a>

