<strong><%= @blog.title %></strong>
<br>
<br>
<%= @blog.text %>
<br>
<br>
<%= @blog.author %>
<br>
<%= @blog.date %>
<br>
<%= @blog.time %>
<br>
<bt>
<form action="/delete/<%= @blog.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
</form>

<a href="/">Home</a>
<a href="/create">Create</a>

