<strong><%= @blog.title %></strong>
<br>
<br>
<%= @blog.post %>
<br>
<br>
<%= @blog.text %>
<br>
<br>
<%= @blog.author %>
<br>
<%= @blog.date %>
<br>
<%= @blog.time %>
<br>

<a href="/">Home</a>
<a href="/create">Create</a>

